*{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.nav-bar {
    background-color: rgb(34, 139, 34);
    width: 100%;
		position: relative;
		z-index: 9999;
}

.nav-bar ul img {
    height: 75px;
    display: inline;
    vertical-align: middle;
}

.nav-bar ul li {
    display: inline;
    padding: 1em;
    color: #1f1f1f;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    float:right;
    text-align:middle;
}

.nav-bar ul {
    padding: 0;
    background-color: rgb(34, 139, 34);
    padding: 20px;
}

.nav-bar ul a {
    text-decoration: none;
}

.nav-bar ul a :hover {
    color: #dddddd;
}

table {
  border-collapse: collapse;

}
table td {
  border: 1px solid black;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  background-color: deepskyblue;
}

.tg  {border-collapse:collapse;border-spacing:0;}

.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 19px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}

.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 19px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}

.tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}

.tg .tg-nxv2{font-size:16px;font-family:"Times New Roman", Times, serif !important;;border-color:inherit;text-align:center;vertical-align:top}

#popup {
    display:none;
    border: 1px solid black;
    width:17%;
    height:300px;
    background-color: limegreen;
    text-align: center;
}
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}